<% include partials/header %>
<% if(errors) { %>
	<% include partials/errors %>
<% } %>

		
		<form method="post" action="/">
			<label>Address</label>
			<br>
			<input type="text" name="address">
			<br>
			<input type="submit" value="Get Weather">
		</form>
		<% if(address) { %>
			<h2><%= address %></h2>
			<h3>Temperature: <%= temperature %> degrees F</h3>
			<h3>Conditions are: <%= conditions %></h3>
			<h3>Winds are <%= windSpeed %> MPH</h3>
			<h3>This week: <%= thisWeek %></h3>
		<% }%>
<%include partials/footer%>