<% include partials/header %>
<% if(errors) { %>
	<% include partials/errors %>
<% } %>

		<h1>This is my weather app!</h1>
		<form method="post" action="getweather">
			<label>Address</label>
			<br>
			<input type="text" name="address">
			<br>
			<input type="submit" value="Get Weather">
		</form>
		<% if(address) { %>
			<h2><%= address %></h2>
			<h3><%= temperature %></h3>
			<h3><%= conditions %></h3>
			<h3><%= windSpeed %></h3>
			<h3><%= thisWeek %></h3>
		<% }%>
<%include partials/footer%>